
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Inspection no. 12345</span>
      <h1 class="govuk-heading-xl">2Schools Consortium</h1>

      <p class="govuk-body govuk-!-font-size-24"><a href="task-list" class="govuk-link">View your activities for this inspection</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>


    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Key information</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your role
          </dt>
          <dd class="govuk-summary-list__value">
            Lead inspector
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ITE Partnership
          </dt>
          <dd class="govuk-summary-list__value">
            2Schools Consortium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dates of inspection
          </dt>
          <dd class="govuk-summary-list__value">
            21 - 22 February 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Oakthorpe Primary School<br>
            Tile Kiln Lane,<br>
            Palmers Green,<br>
            London,<br>
            N13 6BY
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Responsible person
        </dt>
        <dd class="govuk-summary-list__value">
          Isabella Mora, Programme Leader
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            020 8807 6906
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="mailto:training@oakthorpe.enfield.sch.uk">training@oakthorpe.enfield.sch.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inspection team members
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
                <li>Niall Booth, HMI</li>
                <li>Elaine Martel, HMI</li>
                <li>Gaz Aston, OI</li>
              </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Latest inspection report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="https://files.ofsted.gov.uk/v1/file/2390537">Download the latest inspection report</a>
          </dd>
        </div>
      </dl>

    </div>


    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Recent documents</h2>
      <ul class="govuk-list">
        {% if data["planningDocUploaded"] %}
          <li>
            <strong class="govuk-tag">new</strong>
            <a class="govuk-link" href="#">Lead inspector's planning document</a>
          </li>
        {% endif %}
          <a class="govuk-link" href="https://drive.google.com/file/d/1SB5jx-t697LJOrdP7YhOxLZuBqmhl13C/view?usp=sharing">ITE inspection handbook</a>
      </ul>
    </div>

  </div>

{% endblock %}
