
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Inspection no. 28573</span>
      <h1 class="govuk-heading-xl">Bradford College</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Key information</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ITE Partnership
          </dt>
          <dd class="govuk-summary-list__value">
            Bradford College
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Days of inspection
          </dt>
          <dd class="govuk-summary-list__value">
            14 March 2020 – 15 March 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Bradford College<br>
            Great Horton Road<br>
            Bradford<br>
            West Yorkshire<br>
            BD7 1AY
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01274 088 088
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="mailto:information@bradfordcollege.ac.uk">information@bradfordcollege.ac.uk</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Latest inspection report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="https://files.ofsted.gov.uk/v1/file/2390537">Download the latest inspection report</a>
          </dd>
        </div>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Pre-inspection materials</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Fusce Dolor Nibh Ipsum Ornare</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Magna Adipiscing Dapibus Commodo</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Venenatis Elit Ligula</a>
        </li>
      </ul>
    </div>

  </div>

{% endblock %}
