
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345",
      href: "12345"
    },
    {
      text: "Inspection activities",
      href: "task-list"
    },
    {
      text: "Planning call"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "task-list"
      }) }}
      <h1 class="govuk-heading-xl">Lead Inspector's call to the ITE partnership</h1>
    </div>
  </div>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Why do I need to call the ITE partnership?
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>After the ISA notifies the partnership about the upcoming inspection, it is the Lead Inspector's duty to hold a planning call with them. There are two areas  you need to discuss  with the partnership:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>education focused conversation</li>
              <li>inspection planning conversation</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                1. The inspection process
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>During  the phone call, you will review:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>details of trainees’ placements or place of work, including addresses and unique reference numbers (URNs) for schools, colleges or other settings
              <li>discuss meeting with trainees currently on the training course.</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                2. The education environment
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>As Lead Inspector, you need to understand:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>The partnership’s context</li>
              <li>the progress it has made since the previous inspection</li>
              <li> assessment of its current strengths and weaknesses</li>
              <li>any specific progress made on areas for improvement identified at previous inspections that remain relevant under the current inspection framework <a href="#">Dummy link</a></li>
            </ul>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>You will also need to understand:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>how trainees are taught to encourage positive behaviour and attitudes in pupils</li>
              <li>how those with special educational needs and disabilities (SEND) are supported throughout the ITE curriculums offered.</li>
            </ul>
          </div>
        </div>
      </div><!-- end of accordion -->

      <form action="task-list" method="post" class="form govuk-!-padding-top-7">

        {{ govukCheckboxes({
          idPrefix: "planningCallHeld",
          name: "planningCallHeld",
          items: [
          {
            value: true,
            text: "Mark task as completed",
            checked: checked("planningCallHeld", "true")
          }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>

    </div><!-- end of column one -->

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Supporting information</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://drive.google.com/file/d/1Cn859wMQAm_sJ0WMdJUrj0WIWuOIXT6D/view?usp=sharing">Prompts for the phone call with the provider</a>
        </li>
      </ul>
    </div><!-- end of column two -->

  </div>

{% endblock %}
