
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your dashboard
      </h1>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Upcoming inspections",
        captionClasses: "govuk-heading-l",
        firstCellIsHeader: true,
        head: [
          {
            text: "Inspection Number"
          },
          {
            text: "Date of Inspection"
          },
          {
            text: "ITE Partnership"
          }
        ],
        rows: [
          [
            {
              html: "<a href='12345'>12345</a>"
            },
            {
              text: "21 - 22 Feb 2020"
            },
            {
              text: "2Schools Consortium"
            }
          ],
          [
            {
              html: "<a href='27593'>27593</a>"
            },
            {
              text: "2 March 2020"
            },
            {
              text: "Bishop Grosseteste University"
            }
          ],
          [
            {
              html: "<a href='28573'>28573</a>"
            },
            {
              text: "14 March 2020"
            },
            {
              text: "Bradford College"
            }
          ]
        ]
      }) }}


    </div>
</div>

{% endblock %}
