
{% extends "layout.html" %}

{% block pageTitle %}
  ISA's call to the provider - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        ISA's call to notify the ITE partnership
      </h1>

      <p>The ISA has already notified the ITE partnership about this upcoming inspection</p>
      <p> The details of the call are listed below:</p>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Spoken to
    </dt>
    <dd class="govuk-summary-list__value">
      Isabella Mora
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Time of the call
    </dt>
    <dd class="govuk-summary-list__value">
      09:30 - 09:45
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ISA's comments
    </dt>
    <dd class="govuk-summary-list__value">
        <ul class="govuk-list govuk-list--bullet">
          <li>The partnership is expecting your call today</li>
          <li>St Mary's in Southwark will not be suitable to visit on this inspection</li>
          <li>They currently have no trainees in Maths</li>
        </ul>
    </dd>
  </div>

    </div>
  </div>

  </div>

{% endblock %}
