
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Preparing the inspection report - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345",
      href: "12345"
    },
    {
      text: "Inspection activities",
      href: "task-list"
    },
    {
      text: "Preparing the inspection report"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukBackLink({
        text: "Back",
        href: "task-list"
      }) }}
      <h1 class="govuk-heading-xl">Preparing the inspection report</h1>
    <div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>As Lead Inspector, you must now collate the evidence that you and your team collected on the ITE evidence form, and produce the draft inspection report.</p>
      <p><a target="_blank" href="https://drive.google.com/file/d/1PNx2u9DqZay4R9wYX9DqzPTiO-Yg0Iix/view?usp=sharing">Download the ITE inspection report template</a></p>

      <form action="task-list" method="post" class="form govuk-!-padding-top-7">

        {{ govukCheckboxes({
          idPrefix: "prepareInspectionReport",
          name: "prepareInspectionReport",
          items: [
          {
            value: true,
            text: "Mark task as completed",
            checked: checked("prepareInspectionReport", "true")
          }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Supporting information</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" target="_blank" href="https://drive.google.com/file/d/1QrPJlHV6FhKpuLhp2FqI9CpF9dfQj_K7/view?usp=sharing">Guidance on how to write the an ITE inspection report</a>
        </li>
      </ul>
    <div>
  </div>

{% endblock %}
