
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}
  Upload your planning document - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345",
      href: "12345"
    },
    {
      text: "Inspection activities",
      href: "task-list"
    },
    {
      text: "Respond to comments received after quality assurance"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "task-list"
      }) }}

      <h1 class="govuk-heading-xl">Review and resolve the partnership's factual accuracy comments</h1>

    </div>


    <div class="govuk-grid-column-two-thirds">

      <div class="response">
        <span class="govuk-caption-m">20 February 2020</span>
        <h2 class="govuk-heading-m">Response #1</h2>
        <p class="govuk-body-s">This response is to <a href="#" class="govuk-link">Version 1; 2Schools Consortium Report (PDF)</a></p>

        {% from "govuk/components/table/macro.njk" import govukTable %}
          {{ govukTable({
            caption: "",
            firstCellIsHeader: true,
            head: [
              {
                text: "Accepted comments"
              },
              {
                text: "Rejected comments"
              }
            ],
            rows: [
              [
                {
                  text: "2"
                },
                {
                  text: "1"
                }
              ]
            ]
          }) }}
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-top-9">Upload an amended version of the report</h2>
      <form action="task-list" method="post" class="form">
        {{ govukFileUpload({
          id: "uploadAmendedReport",
          name: "uploadAmendedReport",
          label: {
            text: ""
          }
        }) }}
        {{ govukButton({
          text: "Upload document",
          classes: "govuk-button--secondary govuk-!-margin-bottom-9"
        }) }}

        <hr class="separator">

        {{ govukCheckboxes({
          idPrefix: "uploadPreinspectionMaterials",
          name: "uploadPreinspectionMaterials",
          classes: "govuk-!-margin-top-7",
          items: [
          {
            value: true,
            text: "Mark task as completed",
            checked: checked("readPreInspectionMaterials", "true")
          }
          ]
        }) }}
        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-top-2"
        }) }}
      </form>
    </div>

  </div>

{% endblock %}
