{% extends "layout.html" %}

{% block pageTitle %}
  Task list - Inspection no. 12345 - 2Schools Consortium - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345",
      href: "12345"
    },
    {
      text: "Inspection activities"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Inspection activities for 2Schools Consortium
      </h1>

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Pre-inspection activities
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="pre-inspection-materials">
                  Read pre-inspection materials
                </a>
              </span>
              {% if data["readPreInspectionMaterials"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="ISA-call-to-notify-provider">
                  ISA's call to notify the ITE Partnership
                </a>
              </span>
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="confirm-planning-call">
                  Call the ITE partnership to plan the inspection
                </a>
              </span>
              {% if data["planningCallHeld"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-information-provided-by-partnership">
                  Check the documents sent by the ITE partnership
                </a>
              </span>
              {% if data["checkIteInformation"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="upload-planning-document">
                  Send planning document to the provider
                </a>
              </span>
              {% if data["planningDocUploaded"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="send-information-to-team-members">
                  Send information to inspection team members
                </a>
              </span>
              {% if data["infoToTeamMembersUploadedCompleted"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="send-information-to-team-members-completed">Completed</strong>
              {% endif %}
          </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Activities during inspection
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="daily-evidence-forms-uploaded">
                  Upload evidence form day 1
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="daily-evidence-form-uploaded-2">
                  Upload evidence form day 2
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="ROV-completed">
                  Complete the record of visit form at the end of the inspection
                </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Post-inspection activities
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="submit-overall-grade" aria-describedby="overall-frade-submitted">
                  Submit the overall grade for this inspection
                </a>
              </span>
              {% if data["submit-overall-grade"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="send-information-to-team-members-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="upload-draft-inspection-report" aria-describedby="draft-inspection-report-for-qa-uploaded">
                  Get a template and upload the draft inspection report for QA
                </a>
              </span>
              {% if data["uploadDraftInspectionReportForQa"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="send-information-to-team-members-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data["uploadDraftInspectionReportForQa"] %}
                <span class="app-task-list__task-name">
                  <a href="respond-to-comments" aria-describedby="factual-accuracy-comments-reviewed-and-resolved">
                    Respond to comments received after quality assurance
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__task-completed task-in-progress" id="send-information-to-team-members-completed">In progress</strong>
              {% else %}
                <span class="app-task-list__task-name">
                  <a href="respond-to-comments-no-comments" aria-describedby="factual-accuracy-comments-reviewed-and-resolved">
                    Respond to comments received after quality assurance
                  </a>
                </span>
              {% endif %}
              {% if data["comment-1"] %}
                <strong class="govuk-tag app-task-list__task-completed" id="send-information-to-team-members-completed">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="review-and-resolve" aria-describedby="factual-accuracy-comments-reviewed-and-resolved">
                  Review and resolve the partnership's factual accuracy comments
                </a>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="latest-report-flagged-ready-for-publication">
                Upload the final version ready for publication
                </a>
              </span>
            </li>
          </ul>
        </li>


      </ol>

    </div>
  </div>

{% endblock %}
