
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "isa-dashboard"
    },
    {
      text: "Inspection activities",
      href: "task-list"
    },
    {
      text: "Send notification letter to provider",
      href: "email-notification"
    },
    {
      text: "Preview notification letter"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "cover-letter-preview"
      }) }}
      <h1 class="govuk-heading-xl">Send factual accuracy check notification to the provider</h1>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <form action="task-list" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-5">
              You are about to send the cover letter to:
            </h1>
          </legend>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Responsible Person
              </dt>
              <dd class="govuk-summary-list__value">
              {{data["responsible-person-email-address"]}}</a>
        {% if not data["responsible-person-email-address"] %}
          <a target="_blank" href="mailto:i.mora@2schoolsconsortium.org">i.mora@2schoolsconsortium.org</a>
        {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="responsible-person-email-address">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          </dl>
        </fieldset>
      {{ govukButton({
        text: "Continue",
        href: "coverLetter-confirmation",
        classes: "govuk-!-margin-right-1"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
