
{% extends "layout.html" %}

{% if data["uploadDraftInspectionReportForQa"] %}
  <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  Inspection no. 12345 - 2Schools Consortium - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {{ govukBackLink({
        text: "Back",
        href: "ITE-call-to-notify-provider"
      }) }}

      {% if (data["uploadDraftInspectionReportForQa"] | length > 1) and (data["comment-1"] | length < 1)  %}
        <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
      {% endif %}

    </div>


    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="email-notification" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h2 class="govuk-heading-xl">
                Has the partnership requested a deferral?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="emailNotification" name="emailNotification" type="radio" value="yes" {{ checked("emailNotification","yes") }}>
                <label class="govuk-label govuk-radios__label" for="notification-letter">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="emailNotification" name="emailNotification" type="radio" value="no" {{ checked("emailNotification","no") }}>
                <label class="govuk-label govuk-radios__label" for="notification-letter">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      <form action="ITE-call-to-notify-provider" method="post" class="form govuk-!-padding-top-7">
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </form>

    </div>

  </div>

{% endblock %}
