
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "isa-dashboard"
    },
    {
      text: "Inspection activities",
      href: "task-list"
    },
    {
      text: "Send notification letter to provider",
      href: "email-notification"
    },
    {
      text: "Preview notification letter"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "send-final-report-provider"
      }) }}
      <h1 class="govuk-heading-xl">Publish final report</h1>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The ITE Partnership will be emailed a copy, and will be notified to check Ofsted's <a href="https://reports.ofsted.gov.uk/">"Find and inspection report"</a> service after 5 working days.
        </strong>
      </div>
      <form action="final-report-send-email" method="post" class="form govuk-!-padding-top-7">
        {{ govukButton({
          text: "Publish and continue",
          href: "final-report-send-email",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>

    </div><!-- end of column one -->

  </div>

{% endblock %}
