{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure this task is completed? - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <form action="task-list" method="post" class="form">
      <div class="govuk-panel govuk-panel--interruption app-inverted">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading app-inverted govuk-!-margin-bottom-5">
                  Successfully sent!
                </h1>
                 <h2 class="govuk-heading-m app-inverted">The final inspection report has been sent to {{data["responsible-person-email-address"]}}
                {% if not data["responsible-person-email-address"] %}
                  i.mora@2schoolsconsortium.org
                {% endif %} at 2schoolsconsortium</h2>
                  </legend>
            </fieldset>
          </div>
      </div>

      {{ govukCheckboxes({
        idPrefix: "publishFinalReport",
        name: "publishFinalReport",
        classes: "govuk-!-margin-top-9",
        items: [
        {
          value: true,
          classes: "app-inverted",
          text: "Mark task as completed",
          checked: checked("publishFinalReportc", "true")
        }
        ]
      }) }}

      {{ govukButton({
        text: "Submit and continue",
        classes: "govuk-button"
      }) }}
     </form>

    </div>
  </div>

{% endblock %}
