
{% extends "layout.html" %}

{% if data["uploadDraftInspectionReportForQa"] %}
  <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  Inspection no. 12345 - 2Schools Consortium - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {{ govukBackLink({
        text: "Back",
        href: "review-confirm-provider-key-information"
      }) }}

      {% if (data["uploadDraftInspectionReportForQa"] | length > 1) and (data["comment-1"] | length < 1)  %}
        <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
      {% endif %}

    </div>

    <form action="ITE-call-to-notify-provider" method="post" class="form govuk-!-padding-top-7">
      <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              Responsible person's new email address
            </h2>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="responsible-person-email-address">
              Enter the new email address you get on the phone call
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="responsible-person-email-address" name="responsible-person-email-address" type="email">
          </div>
        </fieldset>
            {{ govukButton({
              text: "Save and continue"
            }) }}
      </div>
    </form>
  </div>

{% endblock %}
