
{% extends "layout.html" %}

{% if data["uploadDraftInspectionReportForQa"] %}
  <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
{% endif %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  Inspection no. 12345 - 2Schools Consortium - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage your Ofsted inspections",
      href: "dashboard"
    },
    {
      text: "12345"
    }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {{ govukBackLink({
        text: "Back",
        href: "task-list"
      }) }}

      {% if (data["uploadDraftInspectionReportForQa"] | length > 1) and (data["comment-1"] | length < 1)  %}
        <p class="alert"><strong>ACTION REQUIRED:</strong> <a href="respond-to-comments">Respond to comments received after quality assurance</a></p>
      {% endif %}

      <h1 class="govuk-heading-xl">Review and confirm the partnership's key information</h1>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>


    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Key information</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dates of inspection
          </dt>
          <dd class="govuk-summary-list__value">
            21 - 22 March 2020
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead inspector
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips, HMI
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inspection team members
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
                <li>Niall Booth, HMI</li>
                <li>Elaine Martel, HMI</li>
                <li>Gaz Aston, OI</li>
              </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["address-line-1"]}}
            {% if not data["address-line-1"] %}
              Oakthorpe Primary School<br>
              Tile Kiln Lane,<br>
              Palmers Green,<br>
              London,<br>
              N13 6BY
            {% endif %}
            {{data["address-line-2"]}}
            <br>
            {{data["address-town"]}}
            <br>
            {{data["address-county"]}}
            <br>
            {{data["address-postcode"]}}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="providers-address">
              Change<span class="govuk-visually-hidden">Partnership's new address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Responsible person
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["responsible-person-detail"]}}
            {% if not data["responsible-person-detail"] %}
              Isabella Mora, Programme Leader
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="responsible-person">
              Change<span class="govuk-visually-hidden">Responsible person</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Responsible person's telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["responsible-person-number"]}}
            {% if not data["responsible-person-number"] %}
              07999335903
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="responsible-person-number">
              Change<span class="govuk-visually-hidden">Responsible person's number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Responsible person's email address
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="mailto:{{data["responsible-person-email-address"]}}">{{data["responsible-person-email-address"]}}</a>
            {% if not data["responsible-person-email-address"] %}
              <a href="mailto:i.mora@2schoolsconsortium.org">i.mora@2schoolsconsortium.org</a>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="responsible-person-email-address">
              Change<span class="govuk-visually-hidden">Responsible person's email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Provider's telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["partnership-new-phone-number"]}}
            {% if not data["partnership-new-phone-number"] %}
              020 8807 6906
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="provider-number">
              Change<span class="govuk-visually-hidden">Partnerships new phone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider's email address
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="mailto:{{data["partnerships-new-email-address"]}}">{{data["partnerships-new-email-address"]}}</a>
            {% if not data["partnerships-new-email-address"] %}
              <a href="mailto:info@2schoolsconsortium.org">info@2schoolconsortium.org</a>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="providers-email-address">
              Change<span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Number of trainees
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["updated-number-of-trainees"]}}
            {% if not data["updated-number-of-trainees"] %}
              14
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="number-of-trainees">
              Change<span class="govuk-visually-hidden">Updated number of trainees</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Deferral requested?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="deferral-requested">
              Change<span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>
      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          <strong>Anything else the Lead Inspector might need</strong>
        </label>
         <span id="more-detail-hint" class="govuk-hint">
          These comments will be seen by the Lead Inspector, so leave them any information that you think might be useful for their inspection preparation.
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

        <form action="task-list" method="post" class="form govuk-!-padding-top-7">

          {{ govukCheckboxes({
            idPrefix: "IsaReviewedConfirmedDetails",
            name: "IsaReviewedConfirmedDetails",
            items: [
            {
              value: true,
              text: "Mark task as completed",
              checked: checked("IsaReviewedConfirmedDetails", "true")
            }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-!-margin-top-7"
          }) }}

        </form>
      </div>

    </div>

  </div>

{% endblock %}
