
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Manage your Ofsted inspections 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sign in to manage your Ofsted inspections
      </h1>

      <form action="lead-inspector/dashboard" method="post" class="form">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          autocomplete: "password",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

      </form>


    </div>
</div>

{% endblock %}
